@import "tailwindcss";

:root {
  --background: #F3F5F7;
  --foreground: #1E1E1E;
  --turq : #12C4A8;
  --text-dark : #1E1E1E;
  
  font-family: 'Poppins';
}


body{
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow-x: hidden;

}


.FormPresenterDialog.FPDUserInfo .DCFormBuilder .DCFBInner .DCFBVew{
  display:none !important;
}

#dcFormBuilderView{
  display: none !important;
}
.ripple-loader{
  background-color: var(--background) !important;
}