@import "tailwindcss";

:root {
  --background: #f3f5f7;
  --foreground: #1e1e1e;
  --turq: #12c4a8;
  --text-dark: #1e1e1e;

  font-family: "Poppins";
}

.hs-form div[style*="text-align:center"] {
  display: none !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.FormPresenterDialog.FPDUserInfo .DCFormBuilder .DCFBInner .DCFBVew {
  display: none !important;
}

#dcFormBuilderView {
  display: none !important;
}
.ripple-loader {
  background-color: var(--background) !important;
}
